<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre Nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nossa Jornada</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Bem-vindo à Anabolic Cakes, o lugar onde a paixão por doces encontra o compromisso com um estilo de vida saudável. Nossa história começa em 2010, quando um grupo de entusiastas fitness e amantes de sobremesas se uniu para criar algo extraordinário.</p>
      <p>Desde então, temos dedicado nossa energia aperfeiçoando receitas únicas que oferecem indulgência sem comprometer a qualidade nutricional.</p>
      <!-- Adicione mais detalhes sobre a história da empresa -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nossa Missão</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Nossa missão na Anabolic Cakes é proporcionar momentos de felicidade e sabor, oferecendo opções de sobremesas irresistíveis e equilibradas. Buscamos inspirar uma vida mais doce e saudável para nossos clientes, sem comprometer o prazer de saborear algo delicioso.</p>
      <!-- Adicione mais detalhes sobre a missão da empresa -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nossa Equipe Excepcional</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Conheça a talentosa equipe por trás dos irresistíveis produtos da Anabolic Cakes:</p>
      <ul>
        <li>Isabela Santos - Chef de Confeitaria</li>
        <li>Rafael Oliveira - Especialista em Nutrição</li>
        <li>Fernanda Lima - Designer de Produtos</li>
        <!-- Adicione mais membros da equipe conforme necessário -->
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
