<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Anabolic Cakes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Seção de Cards de Produtos -->
  <ion-grid>
    <ion-row>
      <!-- Card para cada tipo de bolo -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let bolo of bolos">
        <ion-card>
          <ion-img [src]="bolo.imagem" class="image-limit"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ bolo.nome }}</ion-card-title>
          </ion-card-header>
          
         
        </ion-card>
      
      <ion-card>
       
        
        <ion-card-content>
          <p>Ingredientes: {{ bolo.ingredientes }}</p>
          <p class="ion-text-end ion-margin-top">Preço: {{ bolo.preco  }}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
