<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catálogo de Bolos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Seção de Cards de Produtos -->
  <ion-grid>
    <ion-row>
      <!-- Card para cada tipo de bolo -->
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let bolo of bolos">
        <ion-card>
          <ion-img [src]="bolo.imagem"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ bolo.nome }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Ingredientes: {{ bolo.ingredientes }}</p>
            <p class="ion-text-end ion-margin-top">Preço: {{ bolo.preco | currency: 'BRL' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
