<ion-content>




  <ion-grid>
    <ion-row> 
      
      <ion-col id="fotoPerfilCol">
        <ion-img src="3.jpeg" alt=""></ion-img>
        <!-- Corrected the ion-img tag -->
        <ion-img src="https://ca-times.brightspotcdn.com/dims4/default/8f6dbb5/2147483647/strip/true/crop/2048x1075+0+145/resize/1200x630!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fd7%2Fdf%2Ffe2d27b808e22050731b821bfc01%2Fla-2441655-he-1019-mobilegym-mrc07-jpg-20151112" id="img" alt="231"></ion-img>
      </ion-col>
      </ion-row>
      <ion-row>

        </ion-row>
        <ion-row>

          </ion-row>
          <ion-row>
            <ion-col class="i1"><ion-icon name="logo-angular"></ion-icon></ion-col>
            <ion-col class="i2"><ion-icon name="logo-react"></ion-icon></ion-col>
            <ion-col class="i3"><ion-icon name="logo-ionic"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="i3"><ion-icon name="logo-javascript"></ion-icon></ion-col>
              <ion-col class="i2"><ion-icon name="logo-nodejs"></ion-icon></ion-col>
              <ion-col class="i1"><ion-icon name="logo-npm"></ion-icon></ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="i2"><ion-icon name="logo-slack"></ion-icon></ion-col>
                <ion-col class="i1"><ion-icon name="logo-html5"></ion-icon></ion-col>
                <ion-col class="i3"><ion-icon name="logo-github"></ion-icon></ion-col>
                </ion-row>
  </ion-grid>
</ion-content>
