ion-grid {
  --ion-grid-padding: 10px;
}

ion-col {
  background-color: #000;
  border: solid 1px #aebebd;
  color: #fff;
  text-align: center;
  padding: 15px;
}

#fotoPerfilIcon {
  font-size: 180px;
  color: #aebebd;
}

#fotoPerfilCol {
  background-color: #aebebd;
  padding: 40px;
}

#nome {
  background-color: #aebebd;
  font-size: 28px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
}

#apelido {
  background-color: #aebebd;
  font-size: 20px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
}

.i1 {
  background-color: #ff0000;
  font-size: 40px;
  padding: 10px;
  margin: 5px;
}

.i2 {
  background-color: #000;
  font-size: 40px;
  color: #fff;
  padding: 10px;
  margin: 5px;
}

.i3 {
  background-color: #ff0000;
  font-size: 40px;
  padding: 10px;
  margin: 5px;
  color: #fff;
}

ion-badge {
  position: relative;
  left: 40px;
  top: -50px;
  background-color: #ff0000;
  color: #fff;
}

ion-fab {
  right: 25px;
}

#storeIcon {
  color: #ff0000;
}

#storeName, #storeTagline {
  color: #000;
}

#chefName, #chefTitle {
  color: #fff;
}

.ingredient-icon ion-icon {
  color: #aebebd;
}

.social-icon ion-icon {
  color: #ff0000;
}

